.venv/
__pycache__/
*.py[cod]

.dist/

*.cache

runs/*

*.pt
*.pth

!deeplab_model.pth
!runs/
!runs/detect/
runs/detect/*
!runs/detect/yolov8s_archaeology2/
runs/detect/yolov8s_archaeology2/*
!runs/detect/yolov8s_archaeology2/weights/
!runs/detect/yolov8s_archaeology2/weights/best.pt

erosion_dataset.csv